
pokeData.json
rankData.json
tapData.json
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/PokeDash/.vs
/PokeDash/PokeDash/obj/x64/Debug
/PokeDash/PokeRank/bin/x64/Debug/en-us
/PokeDash/PokeRank/bin/x64/Debug
/PokeDash/PokeRank/obj/x64/Debug/PokeRank.csproj.FileListAbsolute.txt
/PokeDash/PokeRank/obj/x64/Debug/PokeRank.csprojResolveAssemblyReference.cache
/PokeDash/PokeRank/obj/x64/Debug/PokeRank.exe
/PokeDash/PokeRank/obj/x64/Debug/PokeRank.pdb
/PokeDash/PokeRest/bin/x64/Debug/en-us/Microsoft.ServiceFabric.Internal.Strings.resources.dll
/PokeDash/PokeRest/bin/x64/Debug
/PokeDash/PokeScan/bin/x64/Debug/en-us
/PokeDash/PokeRest/obj/x64/Debug/PokeRest.csproj.FileListAbsolute.txt
/PokeDash/PokeRest/obj/x64/Debug/PokeRest.csprojResolveAssemblyReference.cache
/PokeDash/PokeRest/obj/x64/Debug/PokeRest.exe
/PokeDash/PokeRest/obj/x64/Debug/PokeRest.pdb
/PokeDash/PokeScan/bin/x64/Debug
/PokeDash/PokeScan/obj/x64/Debug/PokeScan.pdb
/PokeDash/PokeScan/obj/x64/Debug/PokeScan.exe
/PokeDash/PokeScan/obj/x64/Debug/PokeScan.csprojResolveAssemblyReference.cache
/PokeDash/PokeScan/obj/x64/Debug/PokeScan.csproj.FileListAbsolute.txt
/PokeDash/PokeUber/bin/x64/Debug/en-us/Microsoft.ServiceFabric.Internal.Strings.resources.dll
/PokeDash/PokeUber/bin/x64/Debug
/PokeDash/PokeUber/obj/x64/Debug/PokeUber.pdb
/PokeDash/PokeUber/obj/x64/Debug/PokeUber.exe
/PokeDash/PokeUber/obj/x64/Debug/PokeUber.csprojResolveAssemblyReference.cache
/PokeDash/PokeUber/obj/x64/Debug/PokeUber.csproj.FileListAbsolute.txt

